@{
    ViewBag.Title = "Home Page";
}

<h2>Our Story of Love</h2>
<input type="text">'dfsd'</input>
<div id="app">
    <div class="row">
        <div class="row">
            Kirill wrote Dasha {{ firstMessageDate }} days ago
        </div>
        <div class="row">
            They are dating for a {{ datingDiff }} days
        </div>
    </div>
    
</div>

<script src="~/Scripts/Pages/index.js"></script>